{% extends 'base.html' %}
{% block content %}

<section class="py-5 vh-100" style="background-image: url('../media/1.jpg'); background-size: 100% 100%; filter: brightness(70%);">
        <div class="container px-4 px-lg-5 mt-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Магазин мягкой мебели</h1>
                    <p class="lead fw-normal text-white-50 mb-0">В нашем интернет-магазине представлены только тщательно
                    отобранные модели, исключительные диваны – хиты продаж. Каждая модель дивана из нашего интернет каталога
                    – это воплощение отличного дизайна, легенда мебельной отрасли.</p>
                </div>
        </div>
</section>

{% endblock content %}