<table class="table">
  <tbody>
    <tr>
      <td>Размеры (ДхГхВ)</td>
      <td>{{ product.size }}</td>
    </tr>
    <tr>
      <td>Материал каркаса</td>
      <td>{{ product.frame_material }}</td>
    </tr>
    <tr>
      <td>Наполнение спального (посадочного) места</td>
      <td>{{ product.filling_the_bed }}</td>
    </tr>
    <tr>
      <td>Материал опор</td>
      <td>{{ product.support_material }}</td>
    </tr>
    <tr>
      <td>Материал обивки</td>
      <td>{{ product.upholstery_material }}</td>
    </tr>
  </tbody>
</table>


